.navBarSt {
    display:flex;
    justify-content: space-around;
    background-color: aquamarine;
    
}

.titulo {
    display: flex;
    font-size: 45px;
    font-family: cursive;
}
.divButton{
    width: 50%;
    margin: auto;
}

.buttonButton {
    text-decoration: none;
    font-size: 20px;
    border-radius: 6px;
    background-color: orange;
    margin: 10px;
    padding: 6px;
    font-family: fantasy;
}

.divCart {
    margin: auto;

}